.grid-container {
  background-image: url("background.png");
  width: 430px;
  height: 650px;
  margin-left: 35%;
  position: relative;
  /* background-color: aqua; */
}

button {
  cursor: pointer;
  background-color: rgb(15, 212, 9);
  height: 20%;
  width: 10%;
  padding: 1%;
  border-radius: 6px;
  margin-left: 45%;
  margin-bottom: 1%;
  font-weight: 400;
  font-size: 200%;
}

.doodler {
  background-image: url("doodler.png");
  height: 100px;
  width: 100px;
  position: absolute;
  /* background-color: blue; */
}
